
body {
  margin: 0;
  padding: 0;
  background: url('images/OTS_logo.png') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  font-family: sans-serif;
}
#score {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 24px;
  background: rgba(0,0,0,0.5);
  padding: 5px 10px;
  border-radius: 8px;
}
#shareButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
}
canvas {
  display: block;
}
